<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{searchedCountry}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let country of countryInfo">
    <img src={{country.flags.png}} />
    <ion-card-header>
      <ion-card-title>{{country.name.official}}</ion-card-title>
    </ion-card-header>

    <ion-button expand="block" fill="outline">NEWS</ion-button>
    <ion-button expand="block" fill="outline">WEATHER</ion-button>
  </ion-card>
</ion-content>
