<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News from {{countryName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>{{pageHeading}}</ion-title>
  <ion-card *ngFor="let article of newsRecievedFromApi" >
    <img src={{article.image_url}} />
    <ion-card-header>
      <ion-card-title>{{article.title}}</ion-card-title>
      <ion-card-subtitle>{{article.source_name}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{article.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
